<div class="add-bookmark flex-col">
  <h3>{{ 'ADD_NEW_BOOKMARK.TITLE' | translate }}</h3>
  <mat-form-field>
    <mat-label>{{ 'ADD_NEW_BOOKMARK.FORM.NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="name" #inputName="ngModel" required/>
    <mat-error *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">
      {{ 'ADD_NEW_BOOKMARK.FORM.VALIDATORS.NAME_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'ADD_NEW_BOOKMARK.FORM.URL' | translate }}</mat-label>
    <input matInput [(ngModel)]="url" #inputUrl="ngModel" required url/>
    <mat-error *ngIf="inputUrl.invalid && (inputUrl.dirty || inputUrl.touched)">
      <div *ngIf="inputUrl.errors.required">
        {{ 'ADD_NEW_BOOKMARK.FORM.VALIDATORS.URL_REQUIRED' | translate }}
      </div>
      <div *ngIf="inputUrl.errors.url">
        {{ 'ADD_NEW_BOOKMARK.FORM.VALIDATORS.URL_INVALID' | translate }}
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'ADD_NEW_BOOKMARK.FORM.GROUP' | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedGroup" #selectGroup="ngModel" required>
      <mat-option *ngFor="let group of groups$ | async" [value]="group">
        {{ group }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectGroup.invalid && (selectGroup.dirty || selectGroup.touched)">
      {{ 'ADD_NEW_BOOKMARK.FORM.VALIDATORS.GROUP_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <div class="buttons flex-row">
    <button mat-raised-button color="primary"
            [disabled]="inputName.invalid || inputUrl.invalid || selectGroup.invalid"
            (click)="onCreate()">
      {{ 'COMMON.CREATE' | translate }}
    </button>
    <button mat-button (click)="onCancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</div>
