<div class="add-bookmark flex-col">
  <h3>Add new bookmark</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" #inputName="ngModel" required/>
    <mat-error *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">Name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>URL</mat-label>
    <input matInput [(ngModel)]="url" #inputUrl="ngModel" required url/>
    <mat-error *ngIf="inputUrl.invalid && (inputUrl.dirty || inputUrl.touched)">
      <div *ngIf="inputUrl.errors.required">URL is required</div>
      <div *ngIf="inputUrl.errors.url">This is not a valid URL</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select [(ngModel)]="selectedGroup" #selectGroup="ngModel" required>
      <mat-option *ngFor="let group of groups$ | async" [value]="group">
        {{ group }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectGroup.invalid && (selectGroup.dirty || selectGroup.touched)">Group is required</mat-error>
  </mat-form-field>

  <div class="buttons flex-row">
    <button mat-raised-button color="primary"
            [disabled]="inputName.invalid || inputUrl.invalid || selectGroup.invalid"
            (click)="onCreate()">
      Create
    </button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
