.add-bookmark {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button:first-of-type {
    margin-right: 8px;
  }

  button:last-of-type {
    margin-left: 8px;
  }
}
