<div class="add-group flex-col">
  <h3>{{ 'ADD_GROUP.TITLE' | translate }}</h3>
  <mat-form-field>
    <mat-label>{{ 'ADD_GROUP.FORM.NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="name" #inputName="ngModel" required appGroupNameValidator />
    <mat-error *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">
      <div *ngIf="inputName.errors.required">
        {{ 'ADD_GROUP.FORM.VALIDATORS.NAME_REQUIRED' | translate }}
      </div>
      <div *ngIf="inputName.errors.exists">
        {{ 'ADD_GROUP.FORM.VALIDATORS.NAME_EXISTS' | translate }}
      </div>
    </mat-error>
  </mat-form-field>

  <div class="buttons flex-row">
    <button mat-raised-button color="primary"
            [disabled]="inputName.invalid"
            (click)="onCreate()">
      {{ 'COMMON.CREATE' | translate }}
    </button>
    <button mat-button (click)="onCancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</div>
