<div class="add-group flex-col">
  <h3>Add new group</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" #inputName="ngModel" required appGroupNameValidator />
    <mat-error *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">
      <div *ngIf="inputName.errors.required">Name is required</div>
      <div *ngIf="inputName.errors.exists">This group already exists. Type in a different name</div>
    </mat-error>
  </mat-form-field>

  <div class="buttons flex-row">
    <button mat-raised-button color="primary"
            [disabled]="inputName.invalid"
            (click)="onCreate()">
      Create
    </button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
