.bookmark-details {
  display: flex;
  flex-direction: column;
}

a[mat-stroked-button], button {
  width: 144px;
  text-transform: uppercase;
}

mat-action-row button mat-icon {
  margin-right: 4px;
}
