<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ bookmark.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="bookmark-details">
    <mat-form-field>
      <mat-label>{{ 'BOOKMARK_DETAILS.NAME' | translate }}</mat-label>
      <input readonly matInput [value]="bookmark.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'BOOKMARK_DETAILS.URL' | translate }}</mat-label>
      <input readonly matInput [value]="bookmark.url">
    </mat-form-field>
  </div>

  <mat-action-row>
    <a mat-stroked-button
       target="_blank"
       [href]="bookmark.url"
       color="primary"
       matTooltip="{{ 'BOOKMARK_DETAILS.OPEN_IN_NEW_TAB' | translate }}">
      {{ 'BOOKMARK_DETAILS.NAVIGATE' | translate }}
    </a>
    <button mat-button color="primary" (click)="onDelete(bookmark)">
      <mat-icon>delete</mat-icon><span>{{ 'COMMON.DELETE' | translate }}</span>
    </button>
  </mat-action-row>
</mat-expansion-panel>
